<h1 class="mt-4">Consultas</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Minhas Consultas</li>
</ol>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
                {{mensagemSucesso}}
            </div>  
            <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
                {{mensagemErro}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-warning" (click)="novoCadastro()">
                <i class="fa fa-plus"></i>
                Nova Consulta
            </button>
        </div>
        <div class="col-md-4">
           <input placeholder="Nome" class="form-control" type="text" [(ngModel)]="nomeBusca">
        </div>
        <div class="col-md-2">
            <button class="btn btn-deafult" (click)="pesquisar()">
                <i class="fa fa-search"></i>
                Buscar 
            </button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Data</th>
                        <th>Paciente</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody> 
                    <tr *ngFor="let consulta of consultas">
                        <td>{{consulta.id}}</td>   
                        <td>{{consulta.instante}}</td>
                        <td>{{consulta.paciente.nome}}</td>
                        <td>
                            <button class="btn btn-primary" routerLink="/consultas/form/{{ consulta.id }}">
                                <i class="fa fa-pencil-alt"></i>
                            </button>

                            <button class="btn btn-danger ml-2"
                             data-toggle="modal" data-target="#modalDel" (click)="preparaDel(consulta)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="modalDel" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmação</h4>
                </div>
                <div class="modal-body" *ngIf="consultaSelecionada">
                    Deseja realmente remover a consulta com {{consultaSelecionada.paciente.nome}} ?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" (click)="deletarConsulta()" data-dismiss="modal">
                        Confirmar
                    </button>
                    <button class="btn btn-default" data-dismiss="modal">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>