<h1 class="mt-4">Formulário de Consulta</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Nova Consulta</li>
</ol>
<div class="container">
    <form #form="ngForm" (submit)="onSubmit()">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Paciente:</label>
                    <select class="form-control" 
                            [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="consulta.paciente">
                        <option value="">Selecione</option>
                        <option *ngFor="let paciente of pacientes" [ngValue]="paciente">
                            {{paciente.nome}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Data e hora</label>
                    <input placeholder="dd/mm/aaaa hh:mm" 
                    [(ngModel)] = "consulta.instante"
                    class="form-control" type="text" name="instante" id="inputInstante">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success">
                Salvar
                </button>
            </div>
        </div>
    </form>
</div>