<h1 class="mt-4">Formulário de Consulta</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Nova Consulta</li>
</ol>
<div class="container">
    <form #form="ngForm" (submit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    Consulta agendada com sucesso!
                </div>  
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Paciente:</label>
                    <select class="form-control" 
                            [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="consulta.paciente">
                        <option *ngFor="let paciente of pacientes" [ngValue]="paciente">
                            {{paciente.nome}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Data</label>
                    <input placeholder="dd/mm/aaaa" 
                    [(ngModel)]="data"
                    class="form-control" type="text" name="instante" id="inputInstante">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Horário</label>
                    <input placeholder="hh:mm" 
                    [(ngModel)]="hora"
                    class="form-control" type="text" name="instante" id="inputInstante">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success">
                Salvar
                </button>
                <button type="button" class="btn btn-default ml-2" (click)="voltarParaListagem()">
                    <i class="fa fa-arrow-alt-circle-left"></i> Voltar
                </button>
            </div>
        </div>
    </form>
</div>