<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Início</div>
                <a class="nav-link" routerLink="/home">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-home"></i>
                    </div>
                    Home
                </a>
                <div class="sb-sidenav-menu-heading">Consultar</div>
                <a class="nav-link collapsed" 
                   routerLink="/pacientes"
                   data-toggle="collapse"
                   data-target="#collapseLayouts"
                   aria-expanded="false"
                   aria-controls="collapseLayouts">
                   <div class="sb-nav-link-icon">
                       <i class="fas fa-users"></i>
                    </div>
                    Pacientes
                </a>
                <a class="nav-link collapsed" 
                routerLink="/consultas"
                data-toggle="collapse"
                data-target="#collapseLayouts"
                aria-expanded="false"
                aria-controls="collapseLayouts">
                <div class="sb-nav-link-icon">
                    <i class="fas fa-columns"></i>
                 </div>
                 Consultas
                </a>

             <div class="sb-sidenav-menu-heading"></div>
             <a class="nav-link collapsed" 
             (click) = "logout();" 
             href="#"
             data-toggle="collapse"
             data-target="#collapseLayouts"
             aria-expanded="false"
             aria-controls="collapseLayouts">
             <div class="sb-nav-link-icon">
                 <i class="fa fa-arrow-left"></i>
              </div>
              Sair
             </a>
             
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Conta logada:</div>
           {{ nutricionistaLogado }}
        </div>
    </nav>
</div>